label{
    margin-left: 20px;
    margin-top: 10px;
}

.card{

    margin-top: 150px;
    margin-left: 500px;
}

.form-control{

    width: 97%;
    margin-left: 10px;
}

.form-select{

    width: 97%;
    margin-left: 10px;
}

a{

    margin-left: 0px;
    margin-bottom: 10px;
}

button, .btn{
    margin-left: 10px;
    margin-bottom: 10px;
}